@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* Shadcn Core Mapping */
  --color-background: var(--background);
  --color-foreground: var(--text-main);
  --color-card: var(--surface);
  --color-card-foreground: var(--text-main);
  --color-soft:var(--soft);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--background); /* Text on primary buttons */
  
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--background);
  
  --color-muted: var(--secondary);
  --color-muted-foreground: var(--text-muted);
  
  --color-accent: var(--accent);
  --color-accent-foreground: var(--text-main);
  
  --color-border: var(--secondary);
  --color-input: var(--secondary);
  --color-ring: var(--primary);

  /* Radius values */
  --radius-md: 0.625rem;
  --radius-sm: calc(var(--radius-md) - 2px);
  --radius-lg: calc(var(--radius-md) + 2px);
}

:root {
  /*Aetheric Palette */
  --background: #e0e1dd; 
  --surface: #e8e8e8;    
  --header-bg: #0d1b2a;  
  --primary: #1b263b;    
  --secondary: #415a77;  
  --text-main: #0d1b2a;  
  --text-muted: #778da9; 
  --accent: #778da9;
  --soft:#ccd2d2;
}

.dark {
  /* Aetheric Dark Mode */
  --background: #0d1b2a; 
  --surface: #1b263b;    
  --header-bg: #1b263b;  
  --primary: #778da9;    
  --secondary: #415a77;  
  --text-main: #e0e1dd;  
  --text-muted: #6b819a;
  --accent: #bbd9ff;
  --soft:#414141;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}